{% extends 'base.html.twig' %}

{% block title %}Edit my Profile{% endblock %}

{% block body %}

<div class="container">
    <div class="card col p-3 mt-5 panel" id="c4-comic-admin">
        <div class="row mb-3 mb-3">
            <div class="col">
                <h1>Edit Profile: {% if app.user.name is not empty %}{{ app.user.name }}{% else %}{{ app.user.username }}{% endif %}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col">

                {{ form_errors(profileForm) }}
                {{ form_start(profileForm) }}


                <div class="row mb-3">
                    {{ form_label(profileForm.image) }}
                    <div class="col">
                        {{ form_widget(profileForm.image) }}
                    </div>

                </div>
{#                <div class="row mb-3">#}
{#                    {{ form_label(profileForm.headerimage) }}#}
{#                    <div class="col">#}
{#                        {{ form_widget(profileForm.headerimage) }}#}
{#                    </div>#}

{#                </div>#}
                <div class="row mb-3">
                    {{ form_label(profileForm.name) }}
                    <div class="col">
                        {{ form_widget(profileForm.name) }}
                    </div>
                </div>
                <div class="row mb-3">
                    {{ form_label(profileForm.biography) }}
                    <div class="col">
                        {{ form_widget(profileForm.biography) }}
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col offset-3">
                        {{ form_widget(profileForm.submit) }}
                    </div>
                </div>



                {{ form_end(profileForm) }}
            </div>

            <div class="col">
                <div class="row mb-3">
                    <div class="col">
                        <div class=" dropzone-target text-center" id="profile_icon_dropzone">
                            <div  id="image_upload_spinner_icon" class="col text-center d-none">
                                <i class="fas fa-spinner fa-spin fa-4x"></i>
                            </div>
                            <img src="{% if app.user.image is not empty %}/usericon/@{{ app.user.username }}{% endif %}" class="{% if app.user.image is not empty is empty %}d-none{% endif%} img-fluid" id="usericon_upload_image"  alt="{{ app.user.username }} Icon"/><br/>
                            <span>User Icon</span>
                        </div>

                    </div>
{#                    <div class="col">#}
{#                        <div class=" dropzone-target text-center" id="profile_header_dropzone">#}
{#                            <div  id="image_upload_spinner_banner" class="col text-center d-none">#}
{#                                <i class="fas fa-spinner fa-spin fa-4x"></i>#}
{#                            </div>#}
{#                            <img src="{% if app.user.headerimage is not empty %}/userbanner/@{{ app.user.username }}{% endif %}" class="{% if app.user.image is not empty is empty %}d-none{% endif%} img-fluid" id="userheader_upload_image"  alt="{{ app.user.username }} Header Image"/><br/>#}
{#                            <span>Header Banner</span>#}
{#                        </div>#}

{#                    </div>#}
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <form method="POST" action="/profile/upload" enctype="multipart/form-data" class="dropzone profileicon-upload-dz" id="profileicon_upload_dropzone_form"></form>
                    </div>
{#                    <div class="col">#}
{#                        <form method="POST" action="/profile/upload" enctype="multipart/form-data" class="dropzone profilebanner-upload-dz" id="profilebanner_upload_dropzone_form"></form>#}
{#                    </div>#}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block sidebar %}
    {% include "common/user-sidebar.html.twig" %}
{% endblock %}