<h3>You have been invited!</h3>
<p>{% if user.name is not empty %}{{ user.name }}{% else %}{{ user.username}}{% endif %} has invited you to join {{ settings.get.server_name }}!</p>
<p>Please use the following link (or copy/paste it into your browser) to activate your new account:</p>
<p>&nbsp;</p>
<p><a href="{{ settings.get.server_url }}/acceptinvite/{{ reg.code }}">{{ settings.get.server_url }}/acceptinvite/{{ reg.code }}</a></p>
<p>&nbsp;</p>
<p>This is a one-time use code specific to your email address.</p>
<p>Thanks!</p>
<p>The Automated Invite Bot</p>