{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}


<div class="container">
    <div class="card col-8 offset-2 p-3 mt-5 panel" id="c4-comic-admin">

        {% for flash_error in app.flashes('reset_password_error') %}
            <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
        {% endfor %}
        <h3>Reset your password</h3>

        {{ form_start(requestForm) }}
        <div class="row mb-3">

            {{ form_label(requestForm.email) }}
            <div class="col">
                {{ form_widget(requestForm.email) }}
            </div>
        </div>
        <div class="row mb-3">
            <div class="col offset-3">
                <small>
                    Enter your email address, and we will send you a
                    link to reset your password.
                </small>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col offset-3">
                {{ form_widget(requestForm.submit) }}
            </div>
        </div>
        {{ form_end(requestForm) }}

    </div>
</div>
{% endblock %}
