<div class="row profile-comic-row mb-4 ">
    <div class="col">
        <div class="row mb-1">
            <div class="col">
                <h4>{{ comic.name }}</h4>
            </div>
        </div>
        <div class="row mb-1">
            <div class="col-4 offset-1">Next Scheduled Page:</div>
            <div class="col">DATA</div>
        </div>
        <div class="row mb-1">
            <div class="col-4 offset-1">Latest Page:</div>
            <div class="col">DATA</div>
        </div>
        <div class="row mb-1">
            <div class="col-4 offset-1">New Comments:</div>
            <div class="col">DATA</div>
        </div>
    </div>
    <div class="col-2">This Month</div>
    <div class="col-3">
        <div class="row mb-1">
            <div class="col">
                <a href="/comic/{{ comic.slug }}/pages" class="btn btn-block btn-success"><i class="fas fa-toolbox"></i> Manage</a>
            </div>
        </div>
        <div class="row mb-1">
            <div class="col">
                <a  type="button" class="btn btn-block btn-primary" href="/comic/{{ comic.slug }}/edit"><i class="fas fa-edit"></i> Edit</a>
            </div>
        </div>
        {% if comic.isactive == true and comic.isdeleted == false %}
            <div class="row mb-1">
                <div class="col">
                    <a class="btn btn-block btn-outline-danger" href="/comic/{{ comic.slug }}/deactivate"><i class="fas fa-unlock"></i> Deactivate</a>
                </div>
            </div>
        {% else %}
            {% if comic.isactive == false and comic.isdeleted == false and ('ROLE_ADMIN' in app.user.getRoles() or settings.require_comic_approval == false)%}
                <div class="row mb-1">
                    <div class="col">
                        <a class="btn btn-block btn-outline-success" href="/comic/{{ comic.slug }}/activate"><i class="fas fa-lock-open"></i> Activate</a>
                    </div>
                </div>
            {% else %}
                <div class="row mb-1">
                    <div class="col">
                        <button class="btn btn-block btn-outline-dark" disabled><i class="fas fa-lock"></i> Inactive</button>
                    </div>
                </div>
            {% endif %}
        {% endif %}

    </div>

</div>