<div class="col m-2">
    {{ form_errors(addPageForm) }}

    <div class="row mb-3">
        <div class="col">
            {{ form_start(addPageForm) }}

            <div class="row mb-3">
                {{ form_label(addPageForm.title) }}
                <div class="col">
                    {{ form_widget(addPageForm.title) }}
                </div>
            </div>
            <div class="row mb-3">
                {{ form_label(addPageForm.image) }}
                <div class="col">
                    {{ form_widget(addPageForm.image) }}
                </div>
            </div>

            <div class="row mb-3">
                {{ form_label(addPageForm.info) }}
                <div class="col">
                    {{ form_widget(addPageForm.info) }}
                </div>
            </div>

            <div class="row mb-3">
                {{ form_label(addPageForm.publishdate) }}
                <div class="col">
                    {{ form_widget(addPageForm.publishdate, {
                        attr: {
                            'data-format': 'yyyy-MM-dd hh:mm'
                        }
                    }) }}
                </div>
            </div>
            <div class="row mb-3">
                {{ form_label(addPageForm.transcript) }}
                <div class="col">
                    <div class="input-group">
                        {{ form_widget(addPageForm.transcript) }}
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="button" disabled>OCR</button>
                        </div>
                    </div>
                </div>
            </div>
        {{ form_end(addPageForm) }}
        </div>
        <div class="col-3">
            <div class="row mb-2" id="page_upload_dropzone">

            </div>
            <div class="row">
                <form method="POST" action="/comic/uploadpage/{{ comic.slug }}" enctype="multipart/form-data" class="dropzone layerfont-upload-dz" id="page_upload_dropzone_form"></form>
            </div>
        </div>
    </div>

</div>
