{% extends 'base.html.twig' %}

{% block title %}User Management{% endblock %}

{% block body %}

    <div class="container">
        <div class="card col-10 offset-1 p-3 mt-5 panel" id="c4-comic-admin">
            <div class="row mb-3">
                <div class="col">
                    <h1>User Management</h1>
                </div>
            </div>
            {% for user in users %}
                {% set isOwner = 'ROLE_OWNER' in user.roles %}
                {% set isAdmin = 'ROLE_ADMIN' in user.roles %}
                {% set isCreator = 'ROLE_CREATOR' in user.roles %}
                {% set ownerDisabled = '' %}
                {% if isOwner %}
                    {% set isAdmin = true %}
                    {% set isCreator = true %}
                {% endif %}
                <div class="row c4-user-admin-row {% if user.deleted  %}text-secondary{% endif %}">
                    <div class="col-4">
                        <a href="/profile/{{ user.username }}" {{ ownerDisabled }}>
                        <span class="fa-layers fa-fw fa-2x">
                            <i class="fas {{ user.getIcon }}"></i>
                            {% if user.requestRole == 'creator' %}
                                <i class="fas fa-circle-exclamation badge text-warning fa-bounce" data-fa-transform="shrink-2 up-6 left-12"></i>
                            {% endif %}
                            {% if user.deleted  %}
                                <i class="fas fa-trash badge text-danger" data-fa-transform="shrink-2 down-6 right-8"></i>
                            {% endif %}
                        </span>
                        {{ user.username }}</a>
                    </div>
                    <div class="col">
                        <div class="btn-group" role="group">
                        {% if isOwner %}
                            <div class="btn btn-link text-light" title="Owner status cannot be changed">
                                <span class="fa-layers fa-fw fa-2x">
                                    <i class="fas fa-palette"></i>
                                    <i class="fas fa-crown text-warning" data-fa-transform="shrink-4 up-4 right-4"></i>
                                </span>
                            </div>
                            <div class="btn btn-link text-light" title="Owner status cannot be changed">
                                <span class="fa-layers fa-fw fa-2x">
                                    <i class="fas fa-screwdriver-wrench"></i>
                                    <i class="fas fa-crown text-warning" data-fa-transform="shrink-4 up-4 right-4"></i>
                                </span>
                            </div>
                        {% else %}
                                <a href="/admin/{% if isCreator %}removerole{% else %}addrole{% endif %}/{{ user.username }}/creator" type="button" class="btn btn-link">
                                    <span class="fa-layers fa-fw fa-2x">
                                        <i class="fas fa-palette"></i>
                                        {% if not isCreator %}
                                            <i class="fas fa-ban text-danger" data-fa-transform="shrink-4 up-4 right-4"></i>
                                        {% endif %}
                                    </span>
                                </a>
                                <a href="/admin/{% if isAdmin %}removerole{% else %}addrole{% endif %}/{{ user.username }}/admin" type="button" class="btn btn-link">
                                    <span class="fa-layers fa-fw fa-2x">
                                        <i class="fas fa-screwdriver-wrench"></i>
                                        {% if not isAdmin %}
                                            <i class="fas fa-ban text-danger" data-fa-transform="shrink-4 up-4 right-4"></i>
                                        {% endif %}
                                    </span>
                                </a>
                                <a href="/admin/deleteuser/{{ user.username }}" type="button" class="btn btn-link text-light">
                                    <span class="fa-layers fa-fw fa-2x">
                                        <i class="fas fa-trash"></i>
                                    </span>
                                </a>
                        {% endif %}
                        </div>

                    </div>

                </div>

            {% endfor %}
        </div>
    </div>
{% endblock %}


{% block sidebar %}
    {% include "common/user-sidebar.html.twig" %}
{% endblock %}