{% extends 'base.html.twig' %}

{% block title %}Edit {{ comic.name }}{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <div class="container">
        <div class="card col-10 offset-1 p-3 mt-5 panel" id="c4-comic-admin">
            <div class="row mb-3">
                <div class="col">
                    <h1>Editing {{ comic.name }}</h1>
                </div>
            </div>
            <div class="row mb-3">
                {% include "common/comicmanagementnav.html.twig" with { "active": "edit"}%}
            </div>

            {{ form_errors(editcomicForm) }}
            {{ form_start(editcomicForm) }}

            <div class="row mb-3">
                <div class="col">
                    <h5>Details <i class="fas fa-info-circle" title="Comic names and Identifiers may not be changed once a comic is created."></i></h5>
                </div>
            </div>

            <div class="row mb-3">
                {{ form_label(editcomicForm.name) }}
                <div class="col">
                    {{ form_widget(editcomicForm.name) }}
                </div>
            </div>

            <div class="mb-3">
                <div class="row">
                    {{ form_label(editcomicForm.slug) }}
                    <div class="col">
                        <div class="input-group">
                            <span class="input-group-text text-default" id="comic-slug-alert">
                                <i class="fas fa-at" id="comic-slug-alert-icon"></i>
                            </span>
                            {{ form_widget(editcomicForm.slug) }}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col offset-3 text-small text-white" id="comic-slug-errors"></div>
                </div>
            </div>


            <div class="row mb-3">
                {{ form_label(editcomicForm.description) }}
                <div class="col">
                    {{ form_widget(editcomicForm.description) }}

                </div>
            </div>

            <div class="row mb-3">
                <div class="col">
                    <h5>Default Schedule <i class="fas fa-info-circle" title="This will be used to determine the next suggested date for a page update."></i> </h5>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-3 text-right">Days of Week:</div>
                <div class="col">
                    <span class="schedule-icon schedule-endcap border">&nbsp;</span>
                    {{ form_widget(editcomicForm.schedule.sunday) }}
                    {{ form_label(editcomicForm.schedule.sunday) }}
                    {{ form_widget(editcomicForm.schedule.monday) }}
                    {{ form_label(editcomicForm.schedule.monday) }}
                    {{ form_widget(editcomicForm.schedule.tuesday) }}
                    {{ form_label(editcomicForm.schedule.tuesday) }}
                    {{ form_widget(editcomicForm.schedule.wednesday) }}
                    {{ form_label(editcomicForm.schedule.wednesday) }}
                    {{ form_widget(editcomicForm.schedule.thursday) }}
                    {{ form_label(editcomicForm.schedule.thursday) }}
                    {{ form_widget(editcomicForm.schedule.friday) }}
                    {{ form_label(editcomicForm.schedule.friday) }}
                    {{ form_widget(editcomicForm.schedule.saturday) }}
                    {{ form_label(editcomicForm.schedule.saturday) }}
                    <span class="schedule-icon schedule-endcap border">&nbsp;</span>
                </div>
            </div>

            <div class="row mb-3">
                {{ form_label(editcomicForm.schedule.time) }}
                <div class="col-3">

                    {{ form_widget(editcomicForm.schedule.time) }}
                </div>
                <div class="col-3">
                    {{ form_widget(editcomicForm.schedule.timezone) }}
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-4 offset-3">
                    <button type="submit" class="btn btn-light btn-block"><i class="fas fa-book"></i> Update</button>
                </div>
            </div>
            {{ form_end(editcomicForm) }}
        </div>
    </div>

    <script>
        $(document).ready(function(){
            $("#edit_comic_schedule_time").find('select').each(function(idx, item){
                $(item).addClass('form-control d-inline time-drop')
            });
        });
    </script>

{% endblock %}


{% block sidebar %}
    {% include "common/user-sidebar.html.twig" %}
{% endblock %}