{% extends 'base.html.twig' %}

{% block title %}Edit {{ comic.name }}{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <div class="container">
        <div class="card col-10 offset-1 p-3 mt-5 panel" id="c4-comic-admin">
            <div class="row mb-3">
                <div class="col">
                    <h1>{% if comic.slug is empty %}Create a New Comic{% else %}Editing {{ comic.name }}{% endif %}</h1>
                </div>
            </div>
            <div class="row mb-3">
                {% include "common/comicmanagementnav.html.twig" with { "active": "edit"}%}
            </div>

            {{ form_errors(editcomicForm) }}
            {{ form_start(editcomicForm) }}

            <div class="row mb-3">
                <div class="col">
                    <h3>Details</h3>
                </div>
                <div class="col-1">
                    <button class="accordian-button btn btn-outline-light btn-sm pull-end" type="button" data-bs-toggle="collapse" data-bs-target="#comic-details" aria-controls="comic-details" aria-expanded="false"><i class="fas fa-caret-down"></i></button>
                </div>
            </div>

            <div id="comic-details">
                <div class="row mb-3">
                    {{ form_label(editcomicForm.name) }}
                    <div class="col">
                        {{ form_widget(editcomicForm.name) }}
                    </div>
                </div>

                <div class="mb-3">
                    <div class="row">
                        {{ form_label(editcomicForm.slug) }}
                        <div class="col">
                            <div class="input-group">
                                <span class="input-group-text text-default" id="comic-slug-alert">
                                    <i class="fas fa-at" id="comic-slug-alert-icon"></i>
                                </span>
                                {{ form_widget(editcomicForm.slug) }}
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col offset-3 text-small text-white" id="comic-slug-errors"></div>
                    </div>
                </div>


                <div class="row mb-3">
                    {{ form_label(editcomicForm.description) }}
                    <div class="col">
                        {{ form_widget(editcomicForm.description) }}

                    </div>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col">
                    <h3>Navigation</h3>
                </div>
                <div class="col-1">
                    <button class="accordian-button btn btn-outline-light btn-sm pull-end" type="button" data-bs-toggle="collapse" data-bs-target="#comic-navigation" aria-controls="comic-navigation" aria-expanded="false"><i class="fas fa-caret-down"></i></button>
                </div>
            </div>

            <div id="comic-navigation">
                <div class="row mb-3">
                    {{ form_label(editcomicForm.navigationtype) }}
                    <div class="col">
                        {{ form_widget(editcomicForm.navigationtype) }}
                    </div>
                </div>
            </div>



            <div class="row mb-3">
                <div class="col">
                    <h3>Schedule</h3>
                </div>
                <div class="col-1">
                    <button class="accordian-button btn btn-outline-light btn-sm pull-end" type="button" data-bs-toggle="collapse" data-bs-target="#comic-schedule" aria-controls="comic-schedule" aria-expanded="false"><i class="fas fa-caret-down"></i></button>
                </div>
            </div>

            <div id="comic-schedule">

                <div class="row mb-3">
                    <div class="col-3 text-end">Days of Week:</div>
                    <div class="col">
                        <span class="schedule-icon schedule-endcap border">&nbsp;</span>
                        {{ form_widget(editcomicForm.schedule.sunday) }}
                        {{ form_label(editcomicForm.schedule.sunday) }}
                        {{ form_widget(editcomicForm.schedule.monday) }}
                        {{ form_label(editcomicForm.schedule.monday) }}
                        {{ form_widget(editcomicForm.schedule.tuesday) }}
                        {{ form_label(editcomicForm.schedule.tuesday) }}
                        {{ form_widget(editcomicForm.schedule.wednesday) }}
                        {{ form_label(editcomicForm.schedule.wednesday) }}
                        {{ form_widget(editcomicForm.schedule.thursday) }}
                        {{ form_label(editcomicForm.schedule.thursday) }}
                        {{ form_widget(editcomicForm.schedule.friday) }}
                        {{ form_label(editcomicForm.schedule.friday) }}
                        {{ form_widget(editcomicForm.schedule.saturday) }}
                        {{ form_label(editcomicForm.schedule.saturday) }}
                        <span class="schedule-icon schedule-endcap border">&nbsp;</span>
                    </div>
                </div>

                <div class="row mb-3">
                    {{ form_label(editcomicForm.schedule.time) }}
                    <div class="col-3">

                        {{ form_widget(editcomicForm.schedule.time) }}
                    </div>
                    <div class="col-3">
                        {{ form_widget(editcomicForm.schedule.timezone) }}
                    </div>
                </div>
            </div>




            <div class="row mb-3">
                <div class="col">
                    <h3>Tags</h3>
                </div>
                <div class="col-1">
                    <button class="accordian-button btn btn-outline-light btn-sm pull-end" type="button" data-bs-toggle="collapse" data-bs-target="#comic-tags" aria-controls="comic-tags" aria-expanded="false"><i class="fas fa-caret-down"></i></button>
                </div>
            </div>

            <div id="comic-tags">
{#                <div class="row mb-3">#}
{#                    <div class="col" id="comic-tag-list">#}
{#                        {% for tag in comic.tags %}#}
{#                            <div class="comic-tag input-group">#}
{#                                <span class="input-group-text">{{ tag.tag }}</span>#}
{#                                <button class="btn"><i class="fas fa-trash"></i></button>#}
{#                            </div>#}
{#                        {% endfor %}#}
{#                    </div>#}
{#                </div>#}
                {% set taglist = [] %}
                {% for tag in comic.tags %}
                    {% set taglist = taglist|merge([tag.tag]) %}
                {% endfor %}
                {% set tagstring = taglist|join(", ") %}
                <div class="row mb-3">
                    {{ form_label(editcomicForm.tags) }}
                    <div class="col">
                        {{ form_widget(editcomicForm.tags, { 'data': tagstring} ) }}
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col" id="comic-tag-suggestions"></div>
                </div>

            </div>


            <div class="row mb-2">
                <div class="col-4 offset-3">
                    <button type="submit" class="btn btn-success btn-block"><i class="fas fa-book"></i> Update</button>
                </div>
            </div>
            {{ form_end(editcomicForm) }}
        </div>
    </div>

    <script>
        $(document).ready(function(){
            $("#edit_comic_schedule_time").find('select').each(function(idx, item){
                $(item).addClass('form-control d-inline time-drop')
            });
        });
    </script>

{% endblock %}


{% block sidebar %}
    {% include "common/user-sidebar.html.twig" %}
{% endblock %}