{#There are three archive files, copy/paste the contents of the one you want into this file or create your own.#}
{% extends '@theme/base.html.twig' %}

{% block title %}{{ comic.name }} Archive{% endblock %}

{% block body %}
    {% for cast in comic.casts %}
        <div class="row mb-3 border-bottom">
            <div class="col-3">
                <img src="/castimage/{{ comic.slug }}/{{ cast.image }}" alt="cast.name" class="img-fluid">
            </div>
            <div class="col">
                <div class="row">
                    <div class="col">
                        <h4>{{ cast.name }}</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        {{ cast.description|raw }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 offset-6 btn-group">
                        <a class="btn btn-light" href="/@{{ comic.slug }}/page/{{ cast.getfirstpage.slug }}"><i class="fas fa-backward-step"></i> {{ cast.getfirstpage.publishdate|date('Y-m-d') }}</a>
                        <a class="btn btn-light" href="/@{{ comic.slug }}/page/{{ cast.getlastpage.slug }}"><i class="fas fa-forward-step"></i> {{ cast.getlastpage.publishdate|date('Y-m-d') }}</a>
                        <a class="btn btn-light" href="/@{{ comic.slug }}/archive/cast/{{ cast.id }}"><i class="fas fa-address-book"></i> List</a>
                    </div>
                </div>
            </div>

        </div>
    {% endfor %}
{% endblock %}